body{
    background-color: #3E3E3E;
    font-family: "century gothic", sans-serif;
    font-size: 20px;
}

.logo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

.menus{
    display: flex;
    align-items: center;
    margin-top: 10%;
    gap: 250px;
}

.prendre h1{
    margin-top: 70px;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    margin-left: 70px;
}

.form{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: hidden;
    border-bottom: inset white;
    border-width: 2px;
    width: 300px;
}
.bloc{
    margin-left: 20px;  
    margin-top: 50px;
}

.prenom{
    margin-top: 30px;
}

.telephone{
    margin-top: 30px;
}

.btngo{
    text-transform: uppercase;
    color: #3E3E3E;
    font-size: large;
    background-color: white;
    padding: 18px 70px;
    box-shadow: 10px 5px 5px #707070;
    text-decoration: none;
}

.btn{
    margin-top: 25%;
    display: flex;
    justify-content: center;
}

