hr {
    height: 5px;
    width: 150px;
    color: gray;
    background-color: gray; 
}

.titreprésentation{
	text-align: center;
	color: blueviolet;
	font-family: Century Gothic;
	font-size: 34px;
}

.présentation{
	text-align: left;
	color: gray;
	font-family: Century Gothic;
	font-size: 24px;
}

#iconeplus {
  text-align: center;
}

.class{
	font-weight: bold;
}