body {
color:black;
background-color:white;
background-image:url(Image 1/Image 1.svg);
background-repeat:no-repeat;
}

#orange{ /*Le # permet d'indiquer l'ID qui contient la couleur orange*/
color: orange;
}

/*Absolute = déplacer le cube rouge où l'on souhaite*/
/*Relative = Va empêcher cube rouge de sortir du cube gris*/
/*margin auto = Va mettre au centre HORIZONTALEMENT le cube avec dimension width et height*/
/*Stock overflow = site qui répertorie des commandes de programmations*/
/*transform: translateY(-50%) = Centrer verticalement*/
/*z-index : avant-plan / arrière-plan d'une image*/
